@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartbeat-slow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-heartbeat-slow {
  animation: heartbeat-slow 2s ease-in-out infinite;
}